In [3]:
import pandas as pd

In [4]:
pollution_df = pd.read_csv('pollution.csv')
population_df = pd.read_csv('population.csv')

In [5]:
population_df.head()

,Rank,Country,Population2023,YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop%,WorldShare
0,36,Afghanistan,42239854,2.70 %,1111083,65,652860,-65846,4.4,17.0,26 %,0.53 %
1,138,Albania,2832439,-0.35 %,-9882,103,27400,-8000,1.4,38.0,67 %,0.04 %
2,34,Algeria,45606480,1.57 %,703255,19,2381740,-9999,2.8,28.0,75 %,0.57 %
3,212,American Samoa,43914,-0.81 %,-359,220,200,-790,2.2,29.0,N.A.,0.00 %
4,202,Andorra,80088,0.33 %,264,170,470,200,1.1,43.0,85 %,0.00 %

In [7]:
pollution_df.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [13]:
pollution_df['Country'].unique()

array(['Russian Federation', 'Brazil', 'Italy', 'Poland', 'France',
       'United States of America', 'Germany', 'Belgium', 'Egypt', 'China',
       'Netherlands', 'India', 'Pakistan', 'Republic of North Macedonia',
       'Colombia', 'Romania', 'Indonesia', 'Finland', 'South Africa',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'Haiti', 'Somalia', 'Philippines',
       'Latvia', 'Chad', 'New Zealand', 'Tunisia', 'Viet Nam',
       'Iran (Islamic Republic of)', 'Mexico', 'Japan', 'El Salvador',
       'Bulgaria', 'Nigeria', 'South Sudan', 'Guatemala', 'Ireland',
       'Turkey', 'Peru', 'Democratic Republic of the Congo', 'Canada',
       'Switzerland', 'Denmark', 'Cameroon', 'Australia', 'Portugal',
       "Côte d'Ivoire", 'Sweden', 'Ethiopia', 'Thailand', 'Hungary',
       'Kazakhstan', 'Israel', 'Spain', 'Myanmar', 'Papua New Guinea',
       'Madagascar', 'Lithuania', 'Ghana', 'Azerbaijan', 'Armenia',
       'Ukraine', 'Malaysia', 'Serbia', 'Slovakia', 'Gambia', 'Ecuador',
       'Bosnia and Herzegovina', 'Czechia', 'Argentina',
       'Dominican Republic', 'Guinea', 'Bolivia (Plurinational State of)',
       'Bangladesh', 'Sudan', 'Chile', 'Panama', 'Congo', 'Kyrgyzstan',
       'Mauritius', 'Greece', 'Malawi', 'Cuba', 'Saudi Arabia', 'Benin',
       'Sierra Leone', 'Lebanon', 'Uruguay', 'Namibia', 'Albania', nan,
       'Guyana', 'Senegal', 'Lesotho', 'Mongolia',
       'Venezuela (Bolivarian Republic of)', 'Solomon Islands',
       'Paraguay', 'Zimbabwe', 'Austria', 'Croatia', 'Honduras',
       'Cambodia', 'Uganda', 'Republic of Moldova', 'Angola',
       'Kingdom of Eswatini', 'Afghanistan', 'Uzbekistan', 'Zambia',
       'Morocco', 'Belarus', 'Norway', 'Malta', 'Rwanda', 'Sri Lanka',
       'Botswana', 'Burundi', 'Jamaica', 'Central African Republic',
       'Kenya', 'Niger', 'Mali', 'Slovenia', 'Costa Rica', 'Nicaragua',
       'Republic of Korea', 'Burkina Faso', 'Cabo Verde', 'Mozambique',
       'Mauritania', 'Guinea-Bissau', 'United Arab Emirates', 'Eritrea',
       'Tajikistan', 'Barbados', 'Algeria', 'Iraq',
       'Syrian Arab Republic', 'Gabon', 'Liberia',
       "Lao People's Democratic Republic", 'Bhutan', 'Yemen', 'Togo',
       'Turkmenistan', 'Saint Lucia', 'Kuwait', 'Libya', 'Georgia',
       'Nepal', 'Estonia', 'Trinidad and Tobago', 'Jordan', 'Cyprus',
       'Montenegro', 'Comoros', 'Iceland', 'Andorra', 'Oman',
       'Equatorial Guinea', 'Luxembourg', 'Vanuatu', 'Aruba', 'Belize',
       'Qatar', 'Palau', 'Suriname', 'Singapore', 'Maldives', 'Bahrain',
       'Seychelles', 'State of Palestine', 'Saint Kitts and Nevis',
       'Monaco'], dtype=object)

In [8]:
pd.to_csv(population_df.csv)

AttributeError: module 'pandas' has no attribute 'to_csv'

In [11]:
population_df.to_csv("C:\Users\Davide\Desktop\population_df.csv", index=False)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (774966907.py, line 1)

In [ ]:
"C:\Users\Davide\Desktop\population_df.csv"